th {
    color: rgb(100, 100, 100)
}
.sortBtn:hover {
    cursor: pointer;
    color: black
}

.sortBtn:hover::after {
    font-family: FontAwesome;
    content: "\f0dc";
    position: relative;
    right: -1em;
}

  

